/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: black;
    color: #fff;
    padding: 8px 0;
    position: relative;
}
img{
    height: 80px;
    width: 80px;
    padding: 10px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo:hover {
    font-size: 32px;
    font-weight: bold;
    transition: 0.3s ease;
}


.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background-image: url('home.jpg');
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)url('home.jpg'));
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    height: 5px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    height: -30px;
    color: #f4f4f4;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f4f4f4;
    height: 30px;
}

#ctaButton {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
#ctaButton:hover{
    background-color: blue;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
    font-size: large;
}
.gallery{
    padding: 3rem 1rem;
    text-align: center;

}
.gallery img{
    
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
#house2{
    width: 100%;
    height: 100%;
}
#home{
    width: 100%;
    height: 100%;
}


#clean{
    width: 100px;
    height: 100px;
}
.about{
    background-color: #cfc1c1;
    padding: 3rem 3rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.nav-links a{
    color: rgba(249, 251, 251, 0.715);
    padding: 20px 5px;
 }
 .nav-links a:hover{
    color: #f4f4f4;
    font-size: larger;
    transition: 0.5s ease;
 }

